﻿@model List<Examen2194309.Models.Article>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewData["Titre"]</title>
</head>
<body>
     <h1>@ViewData["Titre"]</h1>
     <ul>
            <li><a asp-controller="Article" asp-action="Souhaits" asp-route-id=0>Voir les articles de Pc et Jeux</a></li>
             <li><a asp-controller="Article" asp-action="Souhaits" asp-route-id=4>Voir les articles de Sports</a></li>
             <li><a asp-controller="Article" asp-action="Souhaits" asp-route-id=8>Voir les articles de Fourniture</a></li>
             <li><a asp-controller="Article" asp-action="Souhaits" asp-route-id=12>Voir les articles de Vetements</a></li>
    </ul>
</body>
<html>