﻿@model List<Examen2194309.Models.Article>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewData["Titre"]</title>
</head>
<body>
     <h1>@ViewData["Titre"]</h1>
     <div>
        @foreach (var article in Model)
        {
            <h3>@article.Id, @article.Nom</h3>
        }
     </div>
</body>
</html>


